Repository moleculerjs/moleculer, pull requests merged in 2021-06, with the labels that each got.

#942 NATS lib v2 transporter
  dev/client.js
  dev/server.js
  package-lock.json
  package.json
  src/transporters/nats.js
  test/docker-compose.yml
  test/unit/transporters/nats.spec.js
Labels: Module: Transporter, Type: Enhancement

#948 support async validators
  CHANGELOG.md
  dev/validator-async.js
  src/validators/base.js
  src/validators/fastest.js
  test/unit/transporters/nats.spec.js
  test/unit/validators/base.spec.js
Labels: Module: Validator, Type: Enhancement

#954 Issue 953
  src/transporters/nats.js
  test/unit/transporters/nats.spec.js
Labels: Module: Transporter, Type: Bug
